./privateKey.txt
node1/data/caches/
node1/data/database/
node1/data/uploads/
node1/data/DATABASE_METADATA.json

node2/data/caches/
node2/data/database/
node2/data/uploads/
node2/data/DATABASE_METADATA.json

node3/data/caches/
node3/data/database/
node3/data/uploads/
node3/data/DATABASE_METADATA.json

node4/data/caches/
node4/data/database/
node4/data/uploads/
node4/data/DATABASE_METADATA.json